<IfModule mod_deflate.c>
	# place filter 'DEFLATE' on all outgoing content
	SetOutputFilter DEFLATE
	# exclude uncompressible content via file type
	AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/javascript application/xml
	<IfModule mod_headers.c>
		# properly handle requests coming from behind proxies
		Header append Vary User-Agent
		Header append Cache-Control "public"
	</IfModule>
</IfModule>

# Properly handle old browsers that do not support compression
<IfModule mod_deflate.c>
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<Files *.cache.*>
	<IfModule mod_expires.c>
 		ExpiresDefault "now plus 1 year"
	</IfModule>
</Files>
