/* Body of the bar (inner)*/
#topcmm_fb #presence_ui {
    background: url(../images/MegaSprite_5004_ltr.gif) repeat-x 0 -24px;
}

/* Tab focused*/
#topcmm_fb #presence_ui .focused {
    background-color: #FFFFFF;
    color: #333333;
}

#topcmm_fb #presence_bar {
    border: solid 1px #B5B5B5;
}

#topcmm_fb .presence_bar_button {
    color: #333333;
}