<table>
	<tbody>
		<tr>
			<td>
			<table>
				<tbody>
					<tr>
						<th width="167" /><b><font size="2">Function</font></b></th>
						<th width="360"><b><font size="2">Description</font></b></th>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2">enter:</font></td>
						<td><font size="2">Send the message</font></td>
					</tr>
					<tr>
						<td><font size="2">click on the user:</font></td>
						<td><font size="2">Show the operation popup menu</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2">private message:</font></td>
						<td><font size="2">Open a new window to chat with this user</font></td>
					</tr>
					<tr>
						<td><font size="2">personal message:</font></td>
						<td><font size="2">Talk to this user in the lobby</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2">search box:</font></td>
						<td><font size="2">Type to search the users that start with the input</font></td>
					</tr>
					<tr>
						<td><font size="2">sorting order:</font></td>
						<td><font size="2">Change sorting order, ascending or descending</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2">drop down list:</font></td>
						<td><font size="2">Pick a user to talk to in the lobby</font></td>
					</tr>
					<tr>
						<td><font size="2">sound on/off:</font></td>
						<td><font size="2">turn sound on/off (invisible for firefox)</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2">scroll button:</font></td>
						<td><font size="2">Pause/Resume scrolling</font></td>
					</tr>
					<tr>
						<td><font size="2">theme changer:</font></td>
						<td><font size="2">Change the theme of the application</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2">bold button:</font></td>
						<td><font size="2">Make the message bold or not</font></td>
					</tr>
					<tr>
						<td><font size="2"><span>italic button:</span></font></td>
						<td><font size="2">Make the message italic or not</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2"><span>underline button:</span></font></td>
						<td><font size="2">Make the message underline or not</font></td>
					</tr>
					<tr>
						<td><font size="2"><span><Shift></span> <span>font color
						button:</span></font></td>
						<td><font size="2">Change the color of the message</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2"><span><Esc></span> smiley button:</font></td>
						<td><font size="2">Choose a smiley to appear in the input box</font></td>
					</tr>
					<tr class="helpMessageItem-Even">
						<td><font size="2"><span>erase button:</span></font></td>
						<td><font size="2">Erase the message items in the message history</font></td>
					</tr>
					<tr>
						<td><font size="2"><span>Command list:</span></font></td>
						<td><font size="2">Usage: /command [arguments...]
						<ul>
						    <li>/list(or /l) show user list, no arguments</li>
							<li>/room(or /r) if no arguments, show room list <br>&nbsp;&nbsp;Note: in the result, the first colum is the roomid </li>
						    <li>/room(or /r) [roomid] [password] <br />&nbsp;&nbsp;change room with arguments <br>&nbsp;&nbsp;"roomid" is must<br>&nbsp;&nbsp;"password" is only for password protected rooms <br >&nbsp;&nbsp;Samples:<br>&nbsp;&nbsp;&nbsp;&nbsp;/room 2<br />&nbsp;&nbsp;&nbsp;&nbsp;/r 3 123flashchat </li>
							<li>/to [username] [message] <br />&nbsp;&nbsp;send private message to someone <br>&nbsp;&nbsp;Sample:<br>&nbsp;&nbsp;&nbsp;&nbsp;/to kevin how r u?</li>
							<li>/profile(or /p) <br />&nbsp;&nbsp;edit user's profile</li>
							<li>/help(or /?) <br>&nbsp;&nbsp;print this help message</li>
						</ul>
						</font></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>