/* Body of the bar (inner)*/
#topcmm_fb #presence_ui {
    background: url(../images/MegaSprite_5004_ltr-red.gif) repeat-x 0 -24px;
}

/* Tab focused*/
#topcmm_fb #presence_ui .focused {
    background-color: #cf3c2c;
    color: #fdfffc;
}

#topcmm_fb #presence_bar {
    border: solid 1px #480e02;
}

#topcmm_fb .presence_bar_button {
    color: #fdfffc;
}